@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darkNavy text-white font-sans antialiased overflow-hidden;
  }
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0B1121;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151;
}
